.album-header{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left:20px;
    border-bottom: solid 1px black;
}

.album-thumb{
    width: 80%;
}
video{
    padding: 0;
}

.trackbox {
    height: 150px;
    width: 280px;
    background-color: #F2F2F2;
    border: 1px solid #8c8c8c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

audio{
    width: 230px;
}

.cancAlbum{
    text-align: center;
}