<div id="album" class="min-height">
    <header class="album-header">
        <div class="row">
            <div class="col-md-4">
                 <div *ngIf="album?.images.length >0">
                     <img class="album-thumb" src="{{ album?.images[0].url }}"/>
                 </div>
            </div>
            <div class="col-md-8">
                <h4 *ngIf="album?.artists.length > 0"><span *ngFor="let artist of album.artists">
                    {{ artist?.name }}
                </span></h4>
                <h2>{{ album?.name }}</h2>
                <h5>Fecha de Salida: {{ album?.release_date}}</h5>
                <a class="btn btn-primary" href="{{ album?.external_urls.spotify }}"> Escuchalo en Spotify</a>
            </div>
        </div>
    </header>
        <h2 class="cancAlbum">Canciones del album</h2>
        <div class="container">
        <div *ngFor="let track of album?.tracks.items" class="col-md-4">
            <div class="trackbox">
                <h5>{{ track?.track_number }}.  {{ track?.name }}</h5>
                <div *ngIf="track.preview_url">
                    <audio controls preload="none">
                        <source src="{{track?.preview_url}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
                </div>
                <div *ngIf="track.external_urls.spotify">
                    <a class="btn btn-primary" href="{{ track?.external_urls.spotify }}"> Escuchala en Spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>
