.artist{
    margin-right: 20px;
    margin-left:20px;
}
.artist-header{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.artist-toptracks{
    padding-bottom: 20px;
}
.toptrack{
    height: 200px;
    width: auto;
    background-color: #F2F2F2;
    border: 1px solid #8c8c8c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
.artist-toptracks img{
    height: 80px;
}
.artist-photo{
    width: 80px;
    float:left;
    margin-right:10px;
}

.album{
    height: 375px;
    width: auto;
    background-color: #F2F2F2;
    border: 1px solid #8c8c8c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.album-thumb{
    width: 100%;
}
.btn-right{
    float:right;
}
audio{
    width: 230px;
}

.btn-search{
    width: 150px;
}

.btn-success, .btn-primary{
    width: 150px;
}

.cabeceras{
    text-align: center;
}