<div class="row">
    <div class="col-md-4 navfestivales">
        <ul>
            <li (click)="activeView='';spotifyResults=null;searchSpotify=null">Cabezas de cartel</li>
            <li (click)="activeView='general';spotifyResults=null;searchSpotify=null">Artistas Generales</li> 
        </ul>
    </div>
</div>
<div [ngSwitch]="activeView">
    <div class="row">
        <div *ngSwitchDefault>
            <div class="col-md-4" >
                <input type="text" name="searchSpotify" [(ngModel)]="searchSpotify" placeholder="Añade un cabeza de cartel" (keyup)="search()"/><br><br>
            </div>
                <div *ngIf="spotifyResults">
                    <div *ngFor="let results of spotifyResults">
                        <div *ngIf="results.images[0]" class="row">
                            <div class="col-md-4">
                                <div class="search-results">
                                    <h4 routerLink="/artist/{{results.id}}">{{ results.name }}</h4>
                                    <div>
                                        <strong>Generos:</strong>
                                        <span *ngFor="let generos of results.genres">{{generos}}, </span>
                                    </div>
                                        <button class="btn btn-succes" (click)="addHeadLiner(results.id,results.name,results.images[0].url)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="headLinersArtists" class="col-md-8">
                <div *ngFor="let artist of headLinersArtists">
                    <div class="col-md-4">
                        <div class="well">
                            <span>{{ artist.name }}</span>
                            <img class="img-artist" src="{{ artist.photo }}"/>
                            <span class="btn btn-danger" (click)="removeArtist(artist.$key,'headLiner')"> X </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div *ngSwitchCase="'general'">
            <div class="col-md-4">
                <input type="text" name="searchSpotify" [(ngModel)]="searchSpotify" placeholder="Añade un artista" (keyup)="search()"/><br><br>
                <div *ngIf="spotifyResults">
                    <div *ngFor="let results of spotifyResults">
                        <div *ngIf="results.images[0]" class="row">
                            <div class="col-md-12">
                                <div class="search-results">
                                    <h4 routerLink="/artist/{{results.id}}">{{ results.name }}</h4>
                                    <div>
                                        <strong>Generos:</strong>
                                        <span *ngFor="let generos of results.genres">{{generos}}, </span>
                                    </div>
                                        <button class="btn btn-succes" (click)="addHeadLiner(results.id,results.name,results.images[0].url)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="generalArtists" class="col-md-8">
                <div *ngFor="let artist of generalArtists">
                    <div class="col-md-4">
                        <div class="well">
                            <span>{{ artist.name }}</span>
                            <img class="img-artist" src="{{ artist.photo }}"/>
                            <span class="btn btn-danger" (click)="removeArtist(artist.$key,'general')"> X </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



