<div [ngStyle]="getBackground()">
    <div id="addFestival">
        <form (ngSubmit)="addFestival()" #addFestivalForm="ngForm" novalidate>
            <input placeholder="Nombre" type="text" [(ngModel)]="newFestival.name" name="name" class="innombre" required /><br>
                <select [(ngModel)]="newFestival.style" name="newFestival.style"><br>
                    <option value="" disabled selected> Estilo musical del festival </option>
                    <option *ngFor="let style of styles | async" value="{{style.style}}">{{ style.style}}</option>
                </select>
                <select [(ngModel)]="newFestival.location" name="newFestival.location">
                    <option value="" disabled selected> Pais donde se localiza </option>
                    <option *ngFor="let country of countries | async" value="{{country.name}}">{{ country.name }}</option>
                </select> 
            <input type="text" placeholder="Dirección" [(ngModel)]="newFestival.address" name="address" required />
                <select [(ngModel)]="newFestival.month" name="newFestival.month">
                    <option value="" disable selected> Mes </option>
                    <option *ngFor="let month of months | async" value="{{month.mes}}">{{ month.mes}}</option>
                </select>
            <input type="text" placeholder="Fecha de inicio" name="inicio" disabled/>
            <input type="text" placeholder="Fecha de finalización" name="finalizacion" disabled/>
            <input type="date" [(ngModel)]="newFestival.startDate" name="startDate" required />
            <input type="date" placeholder="Fecha de finalización" [(ngModel)]="newFestival.endDate" name="endDate" required />
            <input type="url" placeholder="www.yourfestival.com" [(ngModel)]="newFestival.webpage" name="webpage"/>
            <input type="url" placeholder="facebook" [(ngModel)]="newFestival.facebook" name="facebook"/>
            <input type="url" placeholder="youtube" [(ngModel)]="newFestival.youtube" name="youtube"/>
            <input type="url" placeholder="instagram" [(ngModel)]="newFestival.instagram" name="instagram"/>
            <textarea placeholder="Descripcion" rows="4" cols="50" [(ngModel)]="newFestival.description" name="description" required >
            </textarea><br>
            <button type="submit" class=" btn guardFestival" [disabled]="!addFestivalForm.form.valid">Enviar Solicitud</button>
        </form>
    </div>
</div>