<h2>Test festival</h2>
  <div *ngFor="let festival of festivales | async">
      <div>
        Festival ID: <b>{{ festival.$key }}</b>
        <h3>Festival Name: {{ festival.name }}</h3>
            <p>description: {{ festival.description }}</p>
        <h4>Start date:</h4>
            <p>{{ festival.startDate }}</p>
        <h4>End date:</h4>
            <p>{{ festival.endDate }}</p>
            <button (click)="validateFestival(festival)">Validate</button>
            <button (click)="discardFestival(festival)">Discard</button>
      </div>

  </div>