<div class="row">
    <div *ngFor="let noticia of noticias | async">
    <div class="col-md-3 img-responsive imgNotice">
        <img src="{{noticia?.photo}}"/>
    </div>
    <div class="col-md-9">
            <h3>Titulo: {{ noticia?.titulo }}</h3>
            <p>Published: {{noticia?.published | date:'medium'}}</p>
            <p>Entradilla: {{ noticia?.entradilla }}</p>
            <div *ngIf="more===noticia.$key">
                <p>Contenido: {{ noticia?.contenido }}</p>
            </div>
            <button *ngIf="more!=noticia.$key" class="btn btn-primary" (click)="more=noticia.$key">Ver mas..</button>
            <button *ngIf="more===noticia.$key" class="btn btn-primary" (click)="more=''">Ver menos</button>
    </div>
    </div>
</div>