h2{
    text-align: center;
}

.mensaje{
    border: 1px solid #8c8c8c;
    background-color: #9c9c9c;
    color: white;
    margin-bottom: 5px;
}

.usuario{
    color: #d9534f;
    font-weight: 700;
}