<div class="container min-height" >
    <form (ngSubmit)="updateFestival()" #editFestivalForm="ngForm" (change)="editado=true">
        <div class="row">
            <div class="col-md-6">
                <h1><input type="text" #name="ngModel" [(ngModel)]="festival.name" name="name" required /></h1>
                <button type="submit" class="btn btn-success" *ngIf="editado" [disabled]="!editFestivalForm.form.valid" >Guardar</button>
                <span class="btn btn-danger" (click)="cancel()">Cancelar</span>
            </div>
            <div class="col-md-6">
                <label for="fileUpload"><img for="fileUpload" id="mainPhoto" src="{{ festival?.mainPhoto }}" class="img-responsive edit"/></label>
                <input type="file" id="fileUpload" (change)="upload($event)"/><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 navfestivales">
                <ul>
                    <li (click)="activateView('')" class="menprofile">Descripcion</li>
                    <li (click)="activateView('addArtistsView')" class="menprofile">Artistas</li>
                    <li (click)="activateView('newsView')" class="menprofile">Noticias</li>
                </ul>
            </div>
            <div class="col-md-12 info" *ngIf="activeView===''">
                <div class="edInfoFest">
                    <label>Estilo</label><input class="edFest" type="text" #style="ngModel" [(ngModel)]="festival.style" name="style" required />
                    <label>Pais</label><input type="text" class="edFest" #location="ngModel" [(ngModel)]="festival.location" name="location" required />
                    <label>Dirección</label><input type="text" class="edFest" #address="ngModel" [(ngModel)]="festival.address" name="address" required />
                    <label>Mes</label><input type="text" class="edFest" #month="ngModel" [(ngModel)]="festival.month" name="month" required />
                    <br><label>Fecha Inicio</label><input type="date" class="edFest" #startDate="ngModel" [(ngModel)]="festival.startDate" name="startDate" required />
                    <label>Fecha final</label><input type="date" class="edFest" #endDate="ngModel" [(ngModel)]="festival.endDate" name="endDate" required />
                    <label>Página web</label><input type="url" class="edFest" #endDate="ngModel" [(ngModel)]="festival.webpage" name="webpage" />
                    <label>Facebook</label><input type="url" class="edFest" #endDate="ngModel" [(ngModel)]="festival.facebook" name="facebook" />
                    <br><label>Instagram</label><input type="url" class="edFest" #endDate="ngModel" [(ngModel)]="festival.instagram" name="instagram" />
                    <label>Descripcion</label><textarea type="text" cols="60" rows="6" class="edFest" #description="ngModel" [(ngModel)]="festival.description" name="description" required ></textarea>
                </div>
            </div>
        </div>
    </form>
        <div class="row" *ngIf="activeView!=''">
            <div class="col-md-12 info" [ngSwitch]="activeView">
                <add-artist [idFestival]="idFestival" *ngSwitchCase="'addArtistsView'"></add-artist>
                <new-blog [idFestival]="idFestival" *ngSwitchCase="'newsView'"></new-blog>
            </div> 
        </div>
</div>