<div class="container">
    <form (ngSubmit)="updateFestival()" #addFestivalForm="ngForm" (change)="editado=true">
        <div class="row">
            <div class="col-md-6">
                <h1><input type="text" #name="ngModel" [(ngModel)]="festival.name" name="name" required /></h1>
                <button type="submit" class="btn btn-success" *ngIf="editado" [disabled]="!addFestivalForm.form.valid" >Guardar</button>
                <span class="btn btn-danger" (click)="cancel()">Cancelar</span>
            </div>
            <div class="col-md-6">
            si clickas la foto tmb va 
                <label for="fileUpload"><img for="fileUpload" id="mainPhoto" src="{{ festival?.mainPhoto }}" class="img-responsive edit"/></label>
                <label for="fileUpload" class="btn btn-primary">Change Photo</label>
                <input type="file" id="fileUpload" (change)="upload($event)"/><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 navfestivales">
                <ul>
                    <li (click)="activateView()" class="menprofile">Descripcion</li>
                    <li (click)="activateView('addArtistsView')" class="menprofile">Artistas</li>
                    <li (click)="activateView('newsView')" class="menprofile">Noticias</li>
                </ul>
            </div>
            <div class="col-md-12 info" [ngSwitch]="activeView">
                <div *ngSwitchDefault>
                    <label>Estilo</label><input type="text" #style="ngModel" [(ngModel)]="festival.style" name="style" required /><br>
                    <label>Descripcion</label><input type="text" #description="ngModel" [(ngModel)]="festival.description" name="description" required /><br>
                    <label>Pais</label><input type="text" #location="ngModel" [(ngModel)]="festival.location" name="location" required /><br>
                    <label>Dirección</label><input type="text" #address="ngModel" [(ngModel)]="festival.address" name="address" required /><br>
                    <label>Mes</label><input type="text" #month="ngModel" [(ngModel)]="festival.month" name="month" required /><br>
                    <label>Fecha Inicio</label><input type="date" #startDate="ngModel" [(ngModel)]="festival.startDate" name="startDate" required /><br>
                    <label>Fecha final</label><input type="date" #endDate="ngModel" [(ngModel)]="festival.endDate" name="endDate" required /><br>
                </div>
                <add-artist [idFestival]="idFestival" *ngSwitchCase="'addArtistsView'"></add-artist>
                <new-blog *ngSwitchCase="'newsView'"></new-blog>
                <maps *ngSwitchCase="'locationView'" [festival]="festival"></maps>
                <assistants-festival *ngSwitchCase="'assistantsView'" [attendees]="attendees"></assistants-festival>
            </div> 
        </div>
    </form>
</div>