#mainPhoto{
    height: 190px;
    width: 800px;
}
h4{
    cursor:pointer;
}

h1{
    text-align: center;
}
.img-user{
    cursor:pointer;
}

.user-img{
    height: 100px;
    width: 135px;
}
.img-artist{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.info{
    background-color:#f4f4f4;
    min-height: 300px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.navfestivales{
    padding:0;
}
#fileUpload{
    display: none;
}
.navfestivales ul{
    margin-top:20px;
    list-style-type: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
    margin-bottom:0;
}
.navfestivales li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.chat{
    border: 1px solid #9099A2;
    padding: 10px;
    margin-left: 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    position: relative;
    bottom: 40px;
}

.infoDet{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #3c3c3c;
    margin-top: 20px;
}

.inf{
    font-size: 14px;
    font-weight: 500;
}

.asstnt{
   border: 1px solid #9099A2;
   background-color: #e0e0e0;
   margin-left: 5px;
   height: 150px; 
   width: 170px;
   margin-top: 10px;
   border-radius: 5px;
}

.artistbox{
   border: 1px solid #9099A2;
   background-color: #e0e0e0;
   margin-left: 5px;
   height: 150px; 
   width: 190px;
   margin-top: 10px;
   border-radius: 5px;
   text-align: center; 
}

.show-assistants{
    text-align: center;
}
.edit{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.edit:hover {
    cursor:pointer;
	opacity: .5;
}
.cursor{
    cursor: pointer;
    text-align: center;
}

.social{
    list-style: none;
    margin-top: 20px;
}
.social li{
    display: inline-block;
    padding-right: 10px;
}

.imgNotice{
    margin-top: 20px;
    margin-right: 5px;
}

.edInfoFest{
    height: auto;
    width: auto;
    background-color: #F2F2F2;
    border: 1px solid #8c8c8c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.edFest{
    margin-top: 5px;
    margin-bottom:  5px;
    margin-left: 5px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
}