<h1>{{festival?.name}}</h1>
<h3>Estilo: {{festival?.style}}</h3>
<h3>Descripcion: {{festival?.description}}</h3>
<h3>Pais: {{festival?.location}}</h3>
<h3>Direccion: {{festival?.address}}</h3>
<h3>Mes: {{festival?.month}}</h3>
<h3>Iniciio: {{festival?.startDate}}</h3>
<h3>Final: {{festival?.endDate}}</h3>
<h3>Asistentes:</h3> 
<ul *ngFor="let attendee of attendees">
    <li>{{ attendee.name }}</li>
    <li>{{ attendee.profilePhoto }}</li>
</ul>
<button *ngIf="userService.logged" (click)="addAttendee()">Voy a ir!</button>


