#mainPhoto{
    height: 190px;
    width: 800px;
}
h4{
    cursor:pointer;
}

h1{
    text-align: center;
}
.img-user{
    cursor:pointer;
}
.info{
    background-color:#f4f4f4;
    min-height: 300px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.navfestivales{
    padding:0;
}
#fileUpload{
    display: none;
}
.navfestivales ul{
    margin-top:20px;
    list-style-type: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
    margin-bottom:0;
}
.navfestivales li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}