<img id="mainPhoto" src="{{ festival?.mainPhoto }}"/>
<h1>{{festival?.name}}</h1>
<h3>Estilo: {{festival?.style}}</h3>
<h3>Descripcion: {{festival?.description}}</h3>
<h3>Pais: {{festival?.location}}</h3>
<h3>Direccion: {{festival?.address}}</h3>
<h3>Mes: {{festival?.month}}</h3>
<h3>Iniciio: {{festival?.startDate}}</h3>
<h3>Final: {{festival?.endDate}}</h3>
<h3>Asistentes:</h3> 
<div class="row">
    <div *ngFor="let attendee of attendees">
        <div class="col-md-4">
            <div class="well">
                <h4 routerLink="/profile/{{ attendee.$key }}">{{ attendee?.name }}</h4>
                <div class="img-user">
                    <img routerLink="/profile/{{ attendee.$key }}" src="{{ attendee.profilePhoto }}"/>
                </div>
            </div>
        </div>
    </div>
</div>




<button class="btn btn-succes" *ngIf="userData.isLoggedIn && !going" (click)="addAttendee()">Asistiré</button>
<button class="btn btn-danger" *ngIf="userData.isLoggedIn && going === true;" (click)="removeAttendee()">Dejar de asistir</button>
<chat *ngIf="userData.isLoggedIn"></chat>


