#mainPhoto{
    height: 190px;
    width: 800px;
}
h4{
    cursor:pointer;
}

h1{
    text-align: center;
}
.img-user{
    cursor:pointer;
}

.user-img{
    height: 100px;
    width: 135px;
}
.info{
    background-color:#f4f4f4;
    min-height: 300px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.navfestivales{
    padding:0;
}
#fileUpload{
    display: none;
}
.navfestivales ul{
    margin-top:20px;
    list-style-type: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
    margin-bottom:0;
}
.navfestivales li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.chat{
    border: 1px solid #9099A2;
    padding: 10px;
    margin-left: 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    position: relative;
    bottom: 40px;
}

.infoDet{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #3c3c3c;
    margin-top: 20px;
}

.inf{
    font-size: 14px;
    font-weight: 500;
}

.asstnt{
   border: 1px solid #9099A2;
   background-color: #e0e0e0;
   margin-left: 5px;
   height: 150px; 
   width: 170px;
   margin-top: 10px;
}

.show-assistants{
    text-align: center;
}