.edit{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.edit:hover {
    cursor:pointer;
	opacity: .5;
}
#noticiaFestUpload{
    display:none;
}
.navfestivales{
    padding:0;
}
.navfestivales ul{
    margin-top:20px;
    list-style-type: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
    margin-bottom:0;
}
.navfestivales li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}
