form{
    margin-top: 20px;
}
.vec{
    margin-top: 20px;
    border: 5px solid red;
}

.lnotice {
    text-align: left;
    text-decoration: none;
}

.search-central{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.input-search{
    height: 50px;
    border-radius: 5px;
    border: 1px solid orange;
}