/* ESTILOS BUSCADOR */
.input-search{
    height: 50px;
    border-radius: 5px;
    border: 1px solid orange;
}

/* MEDIA QUERY BUSCADOR RESPONSIVE */

/* Escritorios muy anchos */
@media (min-width: 1200px) { 
.search-central{
    position: relative;
    left: 400px;
    bottom: 300px;
}

}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) { 
    .search-central{
    position: relative;
    left: 315px;
    bottom: 253px;
}
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) { 
    .search-central{
        position: relative;
        left: 98px;
        bottom: 166px;
}
}