button{
    color: white;
    width: 130px;
    background-color: #2c2c2c;
}

button:active{
    background-color: orange;
}

/** LOGIN STYLE **/

#loginbox{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 265px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    color: #3c3c3c;
}

input, button{
    border: 0;
    border-radius: 2px;
    background-color: white;
    height: 50px;
    text-align: center;
    position: relative;
    top: 25px;
    color: #3c3c3c;
}

button.logbutton {
    background-color: #dd2c35;
    color: white;
    font-size: 700;
}

.logerror{
    text-align: center;
    color: white;
    position: relative;
    top: 35px;
}

.xerror{
    position: relative;
    top: 35px;
    right: 10px;
}