<div><h1>User Login</h1><br>
  <label>User:</label> <input #userName type="text"/><br><br>
  <label>Password:</label> <input type="password" #password />
</div><br>
<button (click)="login(userName.value,password.value)">Login</button>


<div>
  <h1>Buscar Festival</h1>
  <input #estilo type="text" placeholder="Estilo"/><br><br>
  <input #mes type="text" placeholder="Mes"/><br>
</div><br>

<button (click)="showResultsFunction()">Busca</button>
<div *ngIf="showResults===true">
<div *ngFor="let result of results | async" [hidden]="filter(result,estilo.value,mes.value)">
    <li>Nombre: {{ result.name }}</li>
    <li>Estilo:  {{ result.estilo }}</li>
    <li>Estilo:  {{ result.mes }}</li>
    <li>Estilo:  {{ result.pais }}</li><br>
</div>
</div>