button{
    color: white;
    width: 130px;
    background-color: #2c2c2c;
}

button:active{
    background-color: orange;
}

/** LOGIN STYLE **/

body{
    background-image: url('../../assets/maxresdefault.jpg');
}

#loginbox{
    margin: 0 auto;
    text-align: center;
    background-color: #5c5c5c;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid white;
}

input, button{
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 25px;
}

h1{
    text-align: center;
}