#registerbox{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 265px;
    color: #3c3c3c;
    position: relative;
    top: 150px;
    display: inline;
}

input, button{
    border: 0;
    border-radius: 2px;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #3c3c3c;
    text-align: center;
    color: #3c3c3c;
    margin: 5px;
}

button.regbutton {
    background-color: #dd2c35;
    color: white;
    font-size: 700;
    width: 120px;
}

.regbutton[disabled]{
    background-color: #9099A2;
}

select{
    background-color: white;
    border: none;
    color: #3c3c3c;
    height: 50px;
    width: 361px;
}