<div [ngStyle]="getBackground()">
<div id="registerbox">
<form (ngSubmit)="signUp({email: email, password: password})" #signUpForm="ngForm">
  <input type="text" [(ngModel)]="email" name="email" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
  <input type="password" [(ngModel)]="password" name="password" placeholder="password" required /><br>
  <input type="text" [(ngModel)]="newUser.name" name="name" placeholder="nombre" required />
  <input type="text" [(ngModel)]="newUser.lastname" name="lastname" placeholder="apellidos" required /><br>
  <input type="text" [(ngModel)]="newUser.age" name="age" placeholder="edad" required />
  <input type="text" [(ngModel)]="newUser.location" name="location" placeholder="localizacion" required /><br>
   <select [(ngModel)]="newUser.estilos" name="estilos">
    <option value="" disabled selected>Estilo musical</option>
    <option value="Rock">Rock</option>
    <option value="Pop">Pop</option>
    <option value="Dance">Dance</option>
    <option value="Indie">Indie</option>
  </select> 
<br>
<button class="regbutton">Registro</button>
</form>
</div>
</div>