.navbar{
    margin-bottom: 0 !important;
    background-color: #9099A2 !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navb .navbar-brand {
  height: 80px;
}

.navb .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navb .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-brand > img {
  position: relative;
  top: 10px;
}
.notificaciones{
  min-height: 200px;
  min-width: 200px;
  padding: 10px;
}
.notificaciones li{
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

@media (max-width: 767px){
  .dropdown-menu>li>a{
    color:white
  }
}