<div class="container min-height">
    <div class="row">
        <div class="col-md-3">
            <h2>Perfil de {{ userData.currentUser?.name }} {{ userData.currentUser?.lastname }}</h2>
            <img *ngIf="userData.currentUser?.profilePhoto" class="thumbnail-image img-responsive" src="{{userData.currentUser?.profilePhoto}}"/>
            <label for="fileUpload"  class="btn btn-primary buttonUpload fotoPerfil">Subir foto perfil</label>
            <input type="file" id="fileUpload" class="fotoPerfil" (change)="upload($event)"/><br>
            <div *ngIf="userData?.currentUser" class="inputUsuario">
                <form (ngSubmit)="update()" #perfilForm="ngForm" (change)="editado=true">
                    <input type="text" class="editInput" #name="ngModel" name="name" [(ngModel)]="userData.currentUser.name" required>
                    <input type="text" class="editInput" #lastname="ngModel" name="lastname" [(ngModel)]="userData.currentUser.lastname" required>
                    <input type="text" class="editInput" #age="ngModel" name="age" [(ngModel)]="userData.currentUser.age" required>
                    <input type="text" class="editInput" #location="ngModel" name="location" [(ngModel)]="userData.currentUser.location" required>
                    <input type="text" class="editInput"#estilos="ngModel" name="estilos" [(ngModel)]="userData.currentUser.estilos">
                    <button *ngIf="editado" type="submit" [disabled]="perfilForm.invalid" class="btn btn-success guardar">Guardar Cambios</button>
                </form>
            </div>
        </div>
        <div class="col-md-8 navprofile">
            <ul>
                <li (click)="activateView()" class="menprofile">Mis Festivales</li>
                <li (click)="activateView('artistsView')" class="menprofile">Mis Artistas</li>
                <li *ngIf="ownsFestival" (click)="activateView('ownFestivalsView')" class="menprofile">Administrar mis Festivales</li>
            </ul>
        </div>
        <div class="col-md-6" [ngSwitch]="activeView">
          <profileFestivals *ngSwitchDefault></profileFestivals>
          <profileArtists *ngSwitchCase="'artistsView'"></profileArtists>
          <profileOwnFestivals  *ngSwitchCase="'ownFestivalsView'"></profileOwnFestivals>
        </div>
    </div>
</div>