input[type="file"] {
    display: none;
}

.show-artist h4{
    cursor: pointer;
}
.img-artist img{
    width: 80px;
    cursor: pointer;
}
.navprofile ul{
    margin-top:20px;
    list-style-type: none;
    border-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
}
.navprofile li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.inputUsuario, .fotoPerfil{
    margin: 10px;
}

.editInput{
    margin-top: 5px;
    border:1px solid #9099A2;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}

.guardar{
    margin-top: 5px;
    margin-bottom: 10px;
}
.select{
    padding: 2px;
    width: 176px;
}