<div class="hijoProfile">
    <h2>LISTA ARTISTAS</h2>
    <search-artist *ngIf="searchDisplay"></search-artist>
    <div class="row">
        <div *ngFor="let artist of artists">
            <div class="col-md-4 col-xs-4 col-sm-4 artst">
                <div class="show-artist">
                    <h4 routerLink="/artist/{{artist.$key}}">{{ artist.name }}</h4>
                    <div class="img-artist">
                        <img routerLink="/artist/{{artist.$key}}" src="{{ artist.photo }}"/>
                        <button class="glyphicon glyphicon-trash removeArtist" (click)="removeFavorite(artist.$key)"></button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>