input[type="file"] {
    display: none;
}

.show-artist h4{
    cursor: pointer;
}
.img-artist img{
    width: 80px;
    cursor: pointer;
}

.menprofile {
    display: inline-block;
    background-color: #9099A2;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menprofile.active {
    background-color: orange;
}