<div class="ownFestProfile">
    <h2>EDITAR FESTIVALES</h2>
    <div class="row">
        <div *ngFor="let ownFestival of ownFestivals | async">
            <div class="col-md-4">
                <div class="festivalBox">
                    <h4 routerLink="/edit-festival/{{ ownFestival.$key }}">{{ ownFestival.name }}</h4>
                    <div class="img-festival">
                        <img *ngIf="ownFestival.mainPhoto" routerLink="/edit-festival/{{ ownFestival.$key }}" src="{{ ownFestival.mainPhoto }}"/>
                        <span *ngIf="!ownFestival.mainPhoto" routerLink="/edit-festival/{{ ownFestival.$key }}"> Entra y añade una foto!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>