input[type="file"] {
    display: none;
}
.show-artist h4{
    cursor: pointer;
}
.img-artist img{
    width: 80px;
    cursor: pointer;
}

.navprofile ul{
    margin-top:20px;
    list-style-type: none;
    border-radius: 5px;
    text-align: center;
    background-color: #9099A2;
    padding-left: 0;
}
.navprofile li{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    display: inline-block;
}
h4{
    cursor: pointer;
}
.img-festival img{
    width: 130px;
    cursor: pointer;
}

.removeArtist{
    background-color: #E2001A;
    border: 1px solid #9099A2;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 40px;
}

.artst{
   border: 1px solid #9099A2;
   background-color: #e0e0e0;
   margin-left: 5px;
   height: 150px; 
   width: 170px;
}

.fstvl{
   border: 1px solid #9099A2;
   background-color: #e0e0e0;
   margin-left: 10px;
   height: 120px; 
   width: 160px;
}

.show-artist{
    text-align: center;
}