<div class="hijoProfile">
    <h2>LISTA FESTIVALES</h2>
    <div class="row">
        <div *ngFor="let festival of festivals | async">
            <div class="col-md-8 col-xs-4 col-sm-4 fstvl">
                <div class="show-artist">
                    <h4 routerLink="/festival/{{ festival.$key }}">{{ festival.name }}</h4>
                    <div class="img-festival">
                        <img routerLink="/festival/{{ festival.$key }}" src="{{ festival.mainPhoto }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>