<div class="container min-height">
    <div class="row">
        <div class="col-md-3">
          <h2>Perfil de {{ profile?.name }} {{ profile?.lastname }}</h2>
          <img *ngIf="profile?.profilePhoto" class="thumbnail-image img-responsive" src="{{profile?.profilePhoto}}"/>
          <p><span>Nombre:</span> {{ profile?.name }}</p>
          <p><span>Apellidos:</span> {{ profile?.lastname }}</p>
          <p><span>Edad:</span> {{ profile?.age }}</p>
          <p><span>Location:</span> {{ profile?.location }}</p>
          <p><span>Estilos:</span> {{ profile?.estilos }}</p>
        </div>
        <div class="col-md-8 navprofile">
            <ul>
                <li (click)="activateView()" class="menprofile">Mis Festivales</li>
                <li (click)="activateView('artistsView')" class="menprofile">Mis Artistas</li>
            </ul>
        </div>
        <div class="col-md-6" [ngSwitch]="activeView">
          <profileFestivals *ngSwitchDefault></profileFestivals>
          <profileArtists *ngSwitchCase="'artistsView'"></profileArtists>
        </div>
    </div>
</div>