<br><br>
<img *ngIf="previewURL" id="previewImg" [src]="previewURL"/><br><br><br>

    <label for="fileUpload"  class="btn btn-primary buttonUpload">Upload a Photo</label>
    <input type="file" id="fileUpload" (change)="upload($event,'profile_pictures');"/><br>

    <h2>Test Profile</h2>
    <p>UId: {{userData?.userUID}}</p>
  <div>
    <h3>Name: <b>{{ userData.currentUser?.name }}</b></h3>
    <h3>LastName: {{ userData.currentUser?.lastname }}</h3>
    <h3>Age: {{ userData.currentUser?.age }}</h3>
  </div>
  <profileFestivals></profileFestivals>
  <profileArtists></profileArtists>