/* ESTILOS BUSCADOR */
select{
    height: 25px;
    border-radius: 5px;
    border: 1px solid orange;
}

.search {
    text-align: center;
}
img{
    height: 100px;
    width: 200px;
    cursor: pointer;
}
.festivalbox{
    min-height: 450px;
}