  <div class="search">
    <p>Encuentra tu festival: </p>
    <input #style type="text" class="input-search" placeholder="estilo">
    <input type="text" class="input-search">
    <input type="text" class="input-search">
    <button (click)="showResultsFunction()">Busca</button>
  </div>

<div *ngIf="showResults===true">
<div *ngFor="let result of results | async" [hidden]="filter(result,style.value)">
    <li>Nombre: {{ result.name }}</li>
    <li>Estilo:  {{ result.style }}</li>
    <li>Estilo:  {{ result.mes }}</li>
    <li>Estilo:  {{ result.pais }}</li><br>
</div>
</div>