<buscador></buscador>
<carrousel></carrousel>
<div class="vec" *ngIf="userService.logged"><p>Actualmente estas registrado</p></div>
<div class="vec" *ngIf="userService.logged === false"><p>Registrate para ver mas información</p></div>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <img src="../../assets/maxresdefault.jpg" alt="festivalaso nuevo" height="350px" width="690px" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a routerLink="/news" routerLinkActive="active" class="lnotice">Saber mas..</a>
        </div>
        </div>
        <div class="col-sm-offset-2 col-sm-4">
            <img src="../../assets/maxresdefault.jpg" alt="festivalaso nuevo" height="200px" width="300px" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a routerLink="/news" routerLinkActive="active" class="lnotice">Saber mas..</a>
        </div>
        <div class="col-md-4">
            <img src="../../assets/maxresdefault.jpg" alt="festivalaso nuevo" height="200px" width="300px" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a routerLink="/news" routerLinkActive="active" class="lnotice">Saber mas..</a>
        </div>
