<carrousel></carrousel>
<div class="container">
    <div class="row">
        <h2>Noticias</h2>
        <hr class="separator">
        <div class="col-md-4">
            <img src="../assets/creamfields.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
        <div class="col-md-4">
            <img src="../assets/primavera-sound.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
        <div class="col-md-4">
            <img src="../assets/ultramusic.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
    </div>
</div>
<div class="container festmod">
    <div class="row">
        <h2>Festivales Destacados</h2>
        <hr class="separator">
        <div class="col-md-4">
            <img src="../assets/maxresdefault.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
        <div class="col-md-4">
            <img src="../assets/maxresdefault.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
        <div class="col-md-4">
            <img src="../assets/maxresdefault.jpg" class="img-responsive">
            <p>Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
                Lorem Impsum Galore estratus exia no mater.
            </p>
            <button>Ver mas..</button>            
        </div>
    </div>
</div>