<div class="min-height">
    <carrousel></carrousel>
    <div class="container">
        <div class="row">
            <h2>Noticias</h2>
            <hr class="separator">
            <div class="col-md-4" *ngFor="let noticia of noticias">
                <img routerLink="/news/{{noticia.$key}}" src="{{ noticia.photo }}" class="img-responsive">
                <h3 routerLink="/news/{{noticia.$key}}">{{ noticia.titulo }}</h3>
                <p>{{ noticia.published | date:'medium'}}</p>
                <p>{{ noticia.entradilla}}</p>
                <button routerLink="/news/{{noticia.$key}}">Ver mas..</button>            
            </div>
        </div>
    </div>
    <div class="container festmod">
        <div class="row">
            <h2>Ultimos festivales añadidos</h2>
            <hr class="separator">
            <div class="col-md-4 festmod" *ngFor="let festival of festivales">
                <img routerLink="/festival/{{festival.$key}}" src="{{ festival.mainPhoto }}" class="img-responsive">
                <h3 routerLink="/festival/{{festival.$key}}">{{ festival.name }}</h3>
                <p>{{ festival.startDate }}</p>
                <p>{{ festival.endDate}}</p>
                <button routerLink="/festival/{{festival.$key}}">Ver mas..</button>            
            </div>
        </div>
    </div>
</div>