<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Publicar Noticia</h1>
            <div class="col-md-10">
            <span *ngIf="publicada" class="btn btn-success">Tu noticia ha sido publicada</span>
            <form (ngSubmit)="publish()" #addNewsForm="ngForm">
                <label for="noticiaUpload"><img class="edit" src="{{ storageService.downloadURL }}" /></label>
                <input type="file" id="noticiaUpload" (change)="upload($event)"/>
                <label>Titulo</label><input type="text" #titulo="ngModel" [(ngModel)]="noticia.titulo" name="titulo" required />
                <label>Entradilla</label><input type="text" #entradilla="ngModel" [(ngModel)]="noticia.entradilla" name="entradilla" required />
                <label>Contenido</label><input type="text" #contenido="ngModel" [(ngModel)]="noticia.contenido" name="contenido" required />
                <button type="submit" class="" [disabled]="addNewsForm.form.invalid || storageService.done===false">Publicar Noticia</button>
            </form>
            </div>
        </div>
    </div>
</div>